<app-panel-top></app-panel-top>

<table>
    <thead>
        <span><h1><b>PREMIUM STYLE</b></h1></span>
    </thead>

    <tbody>
        <tr>
            <td class="pictures">
                <img src="/assets/image/CS GO 1.jpg" alt="">
            </td>
            <td>
                <span><b><h2>CS GO: The overall gameplay of Global Offensive</h2></b>Is similar to previous games in the Counter-Strike series. Global Offensive is a first-person multiplayer shooter where each player joins a team.
                </span>
            </td>
        </tr>

        <tr>
            <td class="pictures">
                <img src="/assets/image/CS GO 2.jpg" alt="">
            </td>
            <td>
                <span><b><h2>CS GO: The overall gameplay of Global Offensive</h2></b>Each team has 5 fighters. The game continues for several rounds, which end when all the fighters on one side are dead or the target is met.                  .
                </span>
            </td>
        </tr>
        <tr>
            <td class="pictures">
                <img src="/assets/image/CS GO 3.jpg" alt="">
            </td>
            <td>
                <span><b><h2>CS GO: The overall gameplay of Global Offensive</h2></b>At the beginning of each round, teams appear at their "bases". The fighters have health supplies, primary weapons and funds.
                </span>
            </td>
        </tr>
    </tbody>
</table>

<app-down-panel></app-down-panel>
