/* You can add global styles to this file, and also import other style files */

body {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1300px;
    min-width: 360px;
    padding: 5px;
    padding-top: 0;
    background-color: #046e39;
}
