.charts {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    padding: 10px;
    thead {
        display: flex;
        justify-content: center;
        align-items: stretch;
        box-shadow: 0 0 5px inset black;
        background-color: #b4bbc5;
        ;
        border-radius: 20px;
        margin-bottom: 10px;
    }
    tbody {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;
        box-shadow: 0 0 5px inset black;
        background-color: #b4bbc5;
        ;
        padding: 20px;
        margin-bottom: 10px;
        button {
            display: block;
            width: 100%;
            min-height: 40px;
            border: none;
            transition: .5s;
            box-shadow: 0 0 5px black;
            background-color: white;
            color: #231c14;
            font-weight: bold;
            margin-top: 10px;
        }
        button:hover {
            background-color: rgb(90, 187, 87);
            color: white;
        }
        @media(max-width: 900px) {
            canvas {
                font-size: 50px;
            }
        }
    }
    tfoot {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;
        box-shadow: 0 0 5px inset black;
        background-color: #b4bbc5;
        ;
        padding: 10px;
    }
    .head {
        background-color: #a9c787;
        border-radius: 20px;
        box-shadow: 0 0 5px inset black;
        .id {
            border-radius: 20px;
            box-shadow: 0 0 5px silver;
        }
        .name {
            border-radius: 20px;
            box-shadow: 0 0 5px silver;
        }
        .email {
            border-radius: 20px;
            box-shadow: 0 0 5px silver;
        }
        .phone {
            border-radius: 20px;
            box-shadow: 0 0 5px silver;
        }
        .price {
            border-radius: 20px;
            box-shadow: 0 0 5px silver;
        }
    }
    tr {
        display: flex;
        flex-direction: row;
        align-content: center;
        border-bottom: 1px solid silver;
        text-align: center;
        word-wrap: break-word;
        padding: 15px 5px 15px 5px;
        .id {
            width: 40px;
            border: 1px solid red;
            //text-align: start;
            flex-grow: 1;
        }
        .name {
            width: 40px;
            border: 1px solid white;
            flex-grow: 2;
        }
        .email {
            width: 40px;
            border: 1px solid green;
            flex-grow: 4;
        }
        .phone {
            width: 40px;
            border: 1px solid rgb(107, 245, 199);
            flex-grow: 1;
        }
        .price {
            width: 40px;
            border: 1px solid rgb(152, 197, 100);
            flex-grow: 1;
        }
    }
}
